In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Labuhan,-6.8844,112.2051,87.26,63,100,1.01,ID,2021-10-29 02:42:32
1,1,Naryan-Mar,67.6713,53.0870,16.11,81,6,8.03,RU,2021-10-29 02:49:33
2,2,Hobart,-42.8794,147.3294,46.26,93,75,4.00,AU,2021-10-29 02:40:17
3,3,Matehuala,23.6500,-100.6500,65.95,33,0,4.52,MX,2021-10-29 02:49:33
4,4,Cabo San Lucas,22.8909,-109.9124,78.19,74,0,4.94,MX,2021-10-29 02:41:13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
# locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
temperatures =[]
max_temp = city_data_df["Max Temp"]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights= temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Labuhan,-6.8844,112.2051,87.26,63,100,1.01,ID,2021-10-29 02:42:32
4,4,Cabo San Lucas,22.8909,-109.9124,78.19,74,0,4.94,MX,2021-10-29 02:41:13
14,14,Chiang Kham,19.5233,100.3000,78.71,84,97,1.66,TH,2021-10-29 02:49:39
18,18,Rikitea,-23.1203,-134.9692,75.58,80,55,16.75,PF,2021-10-29 02:40:03
22,22,Avarua,-21.2078,-159.7750,75.25,69,75,11.50,CK,2021-10-29 02:40:16
23,23,Saint-Philippe,-21.3585,55.7679,72.95,81,33,6.76,RE,2021-10-29 02:41:18
29,29,Eyl,7.9803,49.8164,74.61,78,40,7.83,SO,2021-10-29 02:42:29
31,31,Kapaa,22.0752,-159.3190,80.58,88,75,1.01,US,2021-10-29 02:37:48
33,33,Butaritari,3.0707,172.7902,82.83,68,1,13.38,KI,2021-10-29 02:41:07
35,35,Yilan,24.7570,121.7530,78.91,99,100,1.66,TW,2021-10-29 02:49:44

In [10]:
preferred_cities_df.count()

City_ID       197
City          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
Country       197
Date          197
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Labuhan      ID     87.26  -6.8844  112.2051
4   Cabo San Lucas      MX     78.19  22.8909 -109.9124
14     Chiang Kham      TH     78.71  19.5233  100.3000
18         Rikitea      PF     75.58 -23.1203 -134.9692
22          Avarua      CK     75.25 -21.2078 -159.7750
23  Saint-Philippe      RE     72.95 -21.3585   55.7679
29             Eyl      SO     74.61   7.9803   49.8164
31           Kapaa      US     80.58  22.0752 -159.3190
33      Butaritari      KI     82.83   3.0707  172.7902
35           Yilan      TW     78.91  24.7570  121.7530

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))